extends ../index.pug

block variables
    - var template = 'threejs'

block content
    .threejs
        .threejs__intro
            .threejs__intro__content 
                .threejs__intro__context__text1 Akbar Bakhshi
                .threejs__intro__context__text2 A cat lover
                .threejs__intro__context__text3__Wrapper
                    .threejs__intro__context__text3 Born in 1989 in a small town
                    .threejs__intro__context__text3 Wanna know more about me?
                    .threejs__intro__context__text3 Scroll down (slowly) to read my story
        .threejs__story
    .threejs__canvas__container