@import "./base/reset";

@import "./shared/shared";
@import "./shared/locomotive-scroll";

@import "./components/transition";
@import "./components/preloader";
@import "./components/cursor";
@import "./components/logo";

@import "./pages/home/home";
@import "./pages/about/about";
@import "./pages/threejs/threejs";
@import "./pages/four04/four04";
